.tab-heading-container{
    display: flex;
    justify-content: center;
}

.tab-heading-text {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 1.6px;
}

.green-dot {
    color: #97c680;
}